*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 40px 80px;
}

.logo{
  font-size: clamp(1.8rem, calc(7vw + 1rem), 2rem);
  color: #000000;
}

nav ul{
    list-style: none;
    display: flex;
}

nav a{
    display: flex;
    text-decoration: none;
}

.nav-item{
  color: #000000;
  padding: 1em 2em;
}

nav button{
  padding: 8px 32px;
  background-color: #3F8EFC;
  border-radius: 20px;
  border: none;
}

nav button a{
  color: #ffffff;
}

@media screen and (max-width: 700px) {
  .nav-menu{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: min(15em, 100%);
    z-index: auto;
    border-left: 1px solid #3F8EFC;
  }
  nav ul{
    width: 100%;
    flex-direction: column;
  }
  nav a{
    width: 100%;
    padding-left: 2.5em;
  }
}

body{
  background-color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner{
  position: relative;
  align-items: center;
  padding: 0px 80px;
}

.banner-img{
  border-radius: 20px;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 560px;
}

.features-info{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 40px 80px;
  gap: 16px;
}

.features-info h1{
  font-size: 32px
}

.features-info p{
  width: 447px;
}

.features{
  display: flex;
  justify-content: space-between;
  padding: 0px 80px;
}

.features-card{
  width: 300px;
  height: 300px;
  align-items: center;
  background-color: #E5E5E5;
  border-radius: 20px;
}

.features-card h3{
  width: 260px;
  text-align: center;
}

.features-card img{
  width: 100px;
  height: 100px;
  display: block;
}